*{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.menu-media{
    display: flex;
    gap: 1027px;
    justify-content: center;
}
.menu-media-left-items a img{
    width: 30px;
    height: 35px;
    
}
.dicta-media a{
    position: absolute;
    margin-top: 4px;
    margin-left: 3px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.menu-media-right-items i{
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    
}
.menu-media-right-items-aside-content{
    position: absolute;
    right: 50px;
    
    
    
}
.menu-media-right-items-aside a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    line-height: 35px;
    


}
.features-content-media{
    display: none;
    position: absolute;
    
}
.menu-media-right-items-aside:hover .features-content-media{
    display: block;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 345px;
    padding-top: 20px;
    
    
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu-left{
    display: flex;
    gap: 60px;
    
}
.menu-left-items a img{
    width: 16px;
}

.dicta a{
    position: absolute;
    color: black;
}
.menu-right{
    display: flex;
    gap: 60px;
}
.register{
    color: #DC3442;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 6px 30px 6px 30px ;
}
.register:hover{
    color: white;
    background-color: #DC3442;
    border-style: solid;
    border-color: #DC3442;
}
.features-content a{
    display: block;
    line-height: 35px;
    z-index: 1;
    color: black;
    
    
    

}
.features-content{
    margin-top: 10px;
    display: none;
    position: absolute;
    
}
.menu-left-items:hover .features-content{
    display: block;
    
}
.space-1{
    height: 50px;

}
.landing-page{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.landing-page-left-items h1{
    font-weight: 500;
    font-size: 75px;
}
.landing-page-left-items{
    width: 560px;
    margin-top: 150px;

}
.landing-page-right-items img{
    width: 450px;
}
.landing-page-left-items-image{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.landing-page-left-items p{
    margin-bottom: 40px;
}
.landing-page-left-items a{
    text-decoration: none;
    padding: 8px 30px 8px 30px;
    border-radius: 15px;
    background-color: #DC3442;
    color: white;
}
.landing-page-left-items a:hover{
    background-color: white;
    color: #DC3442;
    border-style: solid;
    border-width: 1px;
}
nav{
    margin-bottom: 50px;
}
@media  (max-width:1200px) {
    .menu{
        display: none;
    }
    .landing-page{
        display: flex;
        gap: 0px;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .landing-page-left{
        margin: auto;
    }
    .landing-page-right{
        margin: auto;
    }
    .landing-page-left-items h1{
        text-align: center;
    }
    .landing-page-left-items{
        margin-top: 0px;
        text-align: center;

    }
    .landing-page-left-items p{
        padding-top: 15px;

    }
    .landing-page-left-items-image-items{
        margin: auto;
    }
    
}
@media  (max-width:600px) {

    .landing-page-left-items{
        width: 420px;
        margin-top: 150px;
        text-align: center;
        
    
    }
    .landing-page-left-items{
        margin-top: 0px;
    }
    .landing-page-left-items h1{
        font-size: 60px;
    }

    
}
@media  (max-width:500px){
   
    .landing-page-right-items img{
        width: 270px;

    }
    #menu-left-items-media{
        margin-left: 18px;
        width: 270px;
        margin: auto;
    }
    .landing-page-left-items h1{
        font-size: 20px;
    }
    .landing-page-left-items{
        width: 260px;
    }


}
